.wrapper {
	width: 900px;
	margin: 0 auto;
}

.top {
	float: top;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

.small {
	font-size: 45%;
}

.right: {
	float: right;
}

.left {
	float: left;
	margin-right: 10px;
}

